<headercmp></headercmp>
<filter></filter>
<div class="sorting">
  <div class="container">
    <div class="row">
      <span class="sorting__title">
          Sort by
      </span>
      <dropdownlist on-select-sort="selectedSort = $event.value" sorting="$ctrl.sorting"></dropdownlist>
    </div>
  </div>
</div>
<main>
  <carousel class="fade-element-in" ng-repeat="part in data" ng-show="filter[part.type]"></carousel>
</main>
