@import "../../common/vars";
carousel{
  .slider-part{
    margin-top: 45px;
    padding-bottom: 45px;

    .controls{
      margin-top: 40px;
      text-align: right;
      color: $main-brown;
      span{
        margin-left: 6px;
        cursor: pointer;
      }
    }
    .carousel{
      //position: relative;
      //overflow: hidden;
      min-height: 450px;
      padding-left: 0;
      margin-bottom: 0;
      .slide{
        width: 100%;
        margin-top: 15px;
        //display: block;
        list-style-type: none;
      }
      .item{
        float: left;
        padding: 25px;
        width: calc(33.3% - 20px);
        margin-right: 30px;
        background: $main-grey;
        border: 6px solid rgba(0,0,0,0);
        border-radius: 3px;
        @include transition(border 0.3s 0s);
        a{
          &:hover{
            text-decoration: none;
          }
        }
        .slide-staff{
          display: flex;
          align-items: center;
          .dropdown-link{
            flex: 1;
            text-align: left;
          }
          .colors{
            flex: 1;
          }
          .title{
            text-align: left;
            flex: 1;
            float: left;
            font-size: 14px;
            color: $main-brown;
            text-transform: uppercase;
          }
          .price{
            text-align: right;
            flex: 1;
            float: right;
            font-size: 20px;
            text-transform: uppercase;
            color: black;
          }
        }

        .img{
          text-align: center;
          margin: 40px 0;
          height: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            max-height:100%;
            width: auto;
          }
        }
        &:nth-child(3){
          margin-right: 0;
        }
        &:hover{
          border: 6px solid $main-brown;
        }
      }
    }
  }
  .rn-carousel-controls{
    display: none;
  }
  &:nth-child(2n) {
    .slider-part h3{
      text-align: right;
    }
    .slider-part h3:after{
      right: auto;
      left: 0;
    }
    .slider-part .controls{
      text-align: left;
    }
    .slider-part .controls span{
      margin: 0 5px 0 0;
    }
  }
}
@media (max-width: 767px) {
  carousel .title-category:after {
    width: 70%;
  }
  carousel .slider-part .carousel .item{
    width: 100%;
  }
}
