<div class="slider-part">
  <div class="container">
    <div class="row">
      <h3 class="title-category">{{$parent.part.type}}</h3>
      <div class="controls">
        {{carouselIndex + 1}} / {{$parent.part.fullCombinedLength}}<br>
        <span class="control" ng-click="$ctrl.moveSlide($event,'prev')"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </span> <span class="control" ng-click="$ctrl.moveSlide($event,'next')"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
      </div>
      <ul class="carousel clearfix" rn-carousel rn-carousel-controls-allow-loop rn-carousel-controls="true" rn-carousel-index="carouselIndex">
        <li class="slide clearfix" ng-repeat="productPart in $parent.$parent.part.products">

            <div class="item clearfix" ng-repeat="product in productPart">

              <div class="slide-staff">
                <div class="dropdown-link" ng-if="product.sizes.length">
                  <span class="current"  ng-click="openSort = !openSort">Size <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                  <ul ng-class="{'open': openSort}">
                    <li ng-repeat="value in product.sizes">{{value}}</li>
                  </ul>
                </div>
                <div class="colors">
                  <span class="color" ng-style="{'background-color':color}" ng-repeat="color in product.colors"></span>
                </div>
              </div>
              <a ui-sref="detail({productId: product.id})">
                <div class="img">
                  <img ng-src="assets/img/{{product.image}}" alt="{{product.name}}">
                </div>
                <div class="slide-staff">
                  <span class="title">{{product.name}}</span>
                  <span class="price">{{product.price}}$</span>
                </div>
              </a>
            </div>

        </li>
      </ul>
    </div>
  </div>
</div>
