@import "../vars";

.dropdown-link{
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  .current{
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
  ul{
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    z-index:-1;
    //display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    @include transition(opacity 0.3s 0s);
    &.open{
      opacity: 1;
      z-index: 1000;
    }
    li{
      display: block;
      padding: 3px 10px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      cursor: pointer;
      text-transform: uppercase;
      &:hover{
        background-color: #f5f5f5;
      }
    }
  }
}
