<div class="dropdown-link">
  <span class="current"  ng-click="openSort = !openSort">{{$ctrl.sorting.currentSort}} <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
  <ul ng-class="{'open': openSort}">
    <li ng-repeat="value in $ctrl.sorting.sortValues" ng-click="selectSort(value)">{{value}}</li>
  </ul>
</div>
