<div class="detail-page">
  <headercmp></headercmp>
  <div class="filter">
    <div class="container">
      <div class="row flex-row">
        <a class="back-btn" ui-sref="home">
          <i class="fa fa-chevron-left"></i> <span>Back to catalog</span>
        </a>
      </div>
    </div>
  </div>
  <main>
    <div class="container">
      <div class="row">
        <h3 class="title-category">{{product.name}}</h3>
        <div class="item-main">
          <div class="big-img">
            <img ng-src="assets/img/{{product.image}}" alt="">
          </div>
          <div class="options">
            <div class="option">
              <div class="value">{{product.price}}€</div>
              <div class="key">price</div>
            </div>
            <div class="option" ng-if="product.colors">
              <div class="value">
                <div class="colors">
                  <span class="color" ng-style="{'background-color':color}" ng-repeat="color in product.colors"></span>
                </div>
              </div>
              <div class="key">Colors</div>
            </div>
            <div class="option">
              <div class="value">{{product.sizes.join(", ")}}</div>
              <div class="key">Sizes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
