@import "../../common/vars";
.detail-page{
  .back-btn{
    color: #000;
    text-transform: uppercase;
    &:hover{
      color: #000;
      text-decoration: none;
    }
    i{
      margin-right: 30px;
    }
    span{
      font-size: 18px;
    }

  }
  .title-category{
    margin-top: 85px;
    margin-bottom: 95px;
  }
  .item-main{
    padding: 100px 100px 100px 40px;
    border:6px solid $main-brown;
    display: flex;
    .big-img{
      flex:2;
      text-align: center;
    }
    .options{
      flex: 1;
      .option{
        display: flex;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 20px;
        .key{
          flex: 1;
          text-align: left;
          padding-left: 20px;
        }
        .value{
          padding-right: 20px;

          flex: 1;
          text-align: right;
        }
      }
    }
  }
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  detail-page{
    .title-category:after {
      width: 75%;
    }

  }

}
@media (max-width: 991px) {
  .detail-page .item-main .options {
    flex: 2;
  }
}
@media (max-width: 767px) {
  .detail-page .item-main{
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  detail-page{
    .title-category{
      text-align: center;
    }
    .title-category:after {
      width: 65%;
      display: none;
    }
  }
}
