<div class="filter">
  <div class="container">
    <div class="row flex-row">
      <div class="checkboxes">
        <div class="custom-checkbox">
          <input id="filter-men" type="checkbox" checked name="filter-men" placeholder="filter-men" ng-model="$parent.filter.man">
          <label for="filter-men"><span>Men</span></label>
        </div>
        <div class="custom-checkbox">
          <input id="filter-women" type="checkbox" checked name="filter-women" placeholder="filter-women" ng-model="$parent.filter.woman">
          <label for="filter-women"><span>Women</span></label>
        </div>
        <div class="custom-checkbox">
          <input id="filter-children" type="checkbox" name="filter-children" placeholder="filter-children" ng-model="$parent.filter.children">
          <label for="filter-children"><span>Children</span></label>
        </div>
      </div>
      <div class="button-wrap">
        <span class="button-site" ng-click="$ctrl.checkFilterAll($parent.filter)">see all products</span>
      </div>
    </div>
  </div>
</div>

