@import "../../common/vars";

.filter{
  background: $main-grey;
  .flex-row{
    padding: 60px 0;
    align-items: center;
  }
  .checkboxes{
    flex: 1;
    font-size: 0;
    .custom-checkbox{
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      margin-right: 40px;
      input[type=checkbox]{
        display: none;
        &:checked{
          +label{
            &:before{
              background: url("/assets/img/checked-checkbox.svg");
            }
          }
        }
      }
      label{
        margin-bottom: 0;
        span{
          text-transform: uppercase;
          vertical-align: middle;
          font-size: 18px;
        }
        &:before{
          content: "";
          vertical-align: middle;
          margin-right: 22px;
          display: inline-block;
          width:25px;
          height: 24px;
          background: url("/assets/img/checkbox.svg");
        }
      }
    }
  }
  .button-wrap{
    flex: 1;
    text-align: right;
  }
}
.sorting{
  margin-top: 30px;
  .sorting__title{
    font-size: 20px;
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .filter .checkboxes {
    flex: 2;
  }
}

@media (max-width: 767px) {
  .filter .checkboxes {
    flex: 2;
  }
  .filter .button-wrap{
    margin-top: 55px;
  }
  .filter .flex-row{
    flex-direction: column;
  }
  .filter .checkboxes .custom-checkbox {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
