@import "vars";

body {
   height: 100%;
   // browsers default to 16px for font-size,
   // so setting top-level font-size to 62.5%
   // scales 1rem to equal 10px.
   //font: 62.5% 'Roboto', sans-serif;
}
@font-face {
   font-family: 'Quicksand-Bold';
   src: url('/assets/fonts/Quicksand-Bold.eot');
   src: local('☺'), url('/assets/fonts/Quicksand-Bold.woff') format('woff'), url('/assets/fonts/Quicksand-Bold.ttf') format('truetype'), url('/assets/fonts/Quicksand-Bold.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}


body{
   font-family: "Quicksand-Bold", sans-serif;
}

.button-site{
   background: $main-brown;
   padding: 20px 35px;
   font-size: 14px;
   text-transform: uppercase;
   color: $white;
   border-radius: 3px;
   cursor: pointer;
}
.flex-row{
   display: flex;
}

.title-category{
   margin: 0;
   font-size: 20px;
   text-transform: uppercase;
   position: relative;
   &:after{
      display: block;
      content: "";
      position: absolute;
      right: 0;
      width: 85%;
      height: 2px;
      background: #cccccc;
      top: 50%;
   }
}

.colors{
   text-align: right;
   height:27px;
   .color{
      display: inline-block;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      background: green;
      margin-right: 5px;
      &last-child{
         margin-right: 0;
      }
   }
}
@media (max-width: 767px) {
   .row{
      margin-left: 0;
      margin-right: 0;
   }
}
